<div id="footer" class="container-fluid">
  <ul id="links">
    {% if site.github_url %}
    <li>
      <a
        id="link-github"
        href="http://github.com/{{ site.github_url.username }}"
        target="_blank"
      >
        <span class="sr-only">github</span>
      </a>
    </li>
    {% endif %} {% if site.facebook %}
    <li>
      <a
        id="link-facebook"
        href="http://facebook.com/{{ site.facebook.username }}"
        target="_blank"
      >
        <span class="sr-only">facebook</span>
      </a>
    </li>
    {% endif %} {% if site.instagram %}
    <li>
      <a
        id="link-instagram"
        href="http://instagram.com/{{ site.instagram.username }}"
        target="_blank"
      >
        <span class="sr-only">instagram</span>
      </a>
    </li>
    {% endif %}
    <li>
      <a id="link-rss" href="/rss" target="_blank">
        <span class="sr-only">rss</span>
      </a>
    </li>
  </ul>
  <ul id="footer-menu">
    <li><a href="//www.toktokhan.dev">똑똑한개발자</a></li>
    <li><a href="//careers.kakao.com/jobs">Jobs</a></li>
    <li><a href="//privacy.kakaocorp.com">Privacy</a></li>
  </ul>
  <p id="copyright">
    <a href="//www.toktokhan.dev">Copyright &copy; TokTokHan.</a>
    All rights reserved.
  </p>
</div>
<!--#footer-->
